.container{
    font-family: Verdana, sans-serif;
}
#weather, #currency{
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    padding: 3px;
    margin: 5px auto;
    width: max-content;
}
sup{
    vertical-align: super;
    font-size: 11px;
}